$contentClass = '.theme-default-content'

$accentColor ?= #FFC800
$darken10AccentColor ?= darken($accentColor, 10%)

$textColor ?= #e2e2e2
$lighten10TextColor ?= lighten($textColor, 10%)
$lighten20TextColor ?= lighten($textColor, 20%)

$borderColor ?= #4e4e4e

$codeBgColor ?= #f8f8f8

$arrowBgColor ?= #ccc

$badgeTipColor ?= #42b983

$badgeWarningColor ?= darken(#ffe564, 35%)

$badgeErrorColor ?= #DA5961

$preTextColor ?= #fff

$highlightedBgColor ?= rgba(224, 224, 224, 0.5)

$languageTextColor ?= rgba(0, 0, 0, 0.4)

$lineNumbersColor ?= rgba(0, 0, 0, 0.3)

$miniCodeBgColor ?= rgba(255,255,255,0.1)

$bgColor ?= #25272a

$kbdBgColor ?= #444

$blockquoteTextColor ?= #eee

$blockquoteBorderColor ?= #666b6f

$tableBorderColor ?= #dfe2e5

$tableStripeBgColor ?= #444

$tipColor ?= $textColor

$tipBgColor ?= #3e3b3b

$warningColor ?= #e7c000

$warningBgColor ?= rgba(185, 174, 119, 0.3)

$dangerColor ?= #c00

$dangerBgColor ?= rgba(72, 56, 57, 30%)

$searchBorderColor ?= #eee
